body{
	background:url("img.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	padding: 0px;
	margin:0px;

}
#nav-right ul{
	overflow: hidden;
	font-size: 17px
	padding: 14px 15px 150px 150px;
	border-spacing: : 10;
	list-style-type: none;

}
#nav-right li
{
	word-spacing: 8px;
	padding: 15px;

	display: inline;}
#nav-right li:hover{
	border-bottom: 2px solid #F117B4;
	 
}
#nav-right a{
	color: black;
	font-size: 17px
	padding: 14px 150px 150px 150px;
	
	text-decoration: none;
}
#nav-right .active{
	color:orange;
}

#nav-right a:hover{
	color:red;
	text-decoration: none;
}
#nav-right a:visited{
	text-decoration: none;
}
#nav-right {
	font-size: 25px;
	
	float:right;
}
.fa-facebook{
	color:black;
}
.fa-twitter{
	color:black;
}
.fa-instagram{
	color:black;

}
#center1{
	font-size: 50px;
	position: relative;
	top:200px;
	width:5%;
	left:300px;
	text-decoration: none;
}


#center1 a{
	text-decoration: none;
}
#center1 li{
	
	display: inline;
	text-align: center;
	vertical-align: center;
}

.hover1
{
	background-image: url("d1.jpg");

}
#center2{
	font-size: 50px;
	position: relative;
	width:5%;

	top:142px;
	left:500px;


}
#center2 a{
	text-decoration: none;

}

#center2 li{
	display: inline;
	text-align: center;
	vertical-align: center;
}
.hover2
{
	background-image: url("drink1.jpg");
	
}
#center3{
	font-size: 50px;
	width:5%;
	position: relative;
	top:082px;
	left:750px;
	


	
}
#center3 a{
	text-decoration: none;

}
#center3 li{
	display: inline;
	text-align: center;
	vertical-align: center;
}

.hover3
{
	background-image: url("table.png");

}


